determinant/*

# Haskell
*.hi
*.o
*.dyn_hi
*.dyn_o
*.prof
*.eventlog
*.tix
*/test.hs

# Cabal
dist-newstyle/
dist/
.cabal-sandbox/
cabal.sandbox.config

# Databases
# *.db
# As this website will never be used, I feel safe uploading the database which will contain examples for the webpage.

# Stack (optional)
.stack-work/

# IDEs
.vscode/
.idea/
*~
\#*\#
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini
